<a href="https://colab.research.google.com/github/xxpsynagure/data-analytics/blob/main/Chess_Analytics_Pragnya_Nagure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 1

In [ ]:
!apt-get update -y

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:4 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:5 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:6 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:7 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:8 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [83.3 kB]
Hit:9 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:10 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [2,164 kB]
Get:11 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [1,109 kB]
Get:12 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,551 kB]
Ign:13 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:15 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:16 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [3,020 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [1,188 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,329 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,452 kB]
Get:20 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [1,230 kB]
Get:21 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Fetched 16.4 MB in 2s (7,575 kB/s)
Reading package lists... Done

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [ ]:
!wget https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz

--2022-10-14 11:53:31--  https://archive.apache.org/dist/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz
Resolving archive.apache.org (archive.apache.org)... 138.201.131.134, 2a01:4f8:172:2ec5::2
Connecting to archive.apache.org (archive.apache.org)|138.201.131.134|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 224445805 (214M) [application/x-gzip]
Saving to: â€˜spark-3.1.2-bin-hadoop2.7.tgzâ€™

spark-3.1.2-bin-had 100%[===================>] 214.05M  11.0MB/s    in 24s

2022-10-14 11:53:55 (8.88 MB/s) - â€˜spark-3.1.2-bin-hadoop2.7.tgzâ€™ saved [224445805/224445805]

In [ ]:
!tar xf spark-3.1.2-bin-hadoop2.7.tgz

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [ ]:
!pip install -q findspark
import findspark
findspark.init()

In [ ]:
from pyspark.sql import SparkSession
spark = (SparkSession
.builder
.appName("Chess")
.getOrCreate())

In [ ]:
import gdown
# url = "https://drive.google.com/uc?id=1l2UQiN6gxEZGSGJK_3eDRQG9toP5lbcV"
# output = "chess_schema.png"
# gdown.download(url, output, quiet = False)

In [ ]:
url = "https://drive.google.com/uc?id=1UBoiIGhfg-Yxk9wXbc48Lx9Z9ZzWg_4Z"
output = "chess_wc_history_game_info.csv"
gdown.download(url, output)

Downloading...
From: https://drive.google.com/uc?id=1UBoiIGhfg-Yxk9wXbc48Lx9Z9ZzWg_4Z
To: /content/chess_wc_history_game_info.csv
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 596k/596k [00:00<00:00, 74.3MB/s]

'chess_wc_history_game_info.csv'

In [ ]:
url = "https://drive.google.com/uc?id=1Th6rP8rVchIvXV25bzO5Er_SvyRoNaic"
output = "chess_wc_history_moves.csv"
gdown.download(url, output, quiet = False)

Downloading...
From: https://drive.google.com/uc?id=1Th6rP8rVchIvXV25bzO5Er_SvyRoNaic
To: /content/chess_wc_history_moves.csv
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 112M/112M [00:01<00:00, 96.8MB/s]

'chess_wc_history_moves.csv'

In [ ]:
url = "https://drive.google.com/uc?id=1eysHHc8I905r8YVeALYydQBl0E9caNNI"
output = "eco_codes.csv"
gdown.download(url, output, quiet = False)

Downloading...
From: https://drive.google.com/uc?id=1eysHHc8I905r8YVeALYydQBl0E9caNNI
To: /content/eco_codes.csv
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 45.6k/45.6k [00:00<00:00, 12.2MB/s]

'eco_codes.csv'

In [ ]:
df1 = spark.read.csv("/content/chess_wc_history_game_info.csv",
                     header=True,
                     inferSchema=True
                     )

In [ ]:
df1.printSchema()

root
 |-- game_id: string (nullable = true)
 |-- game_order: integer (nullable = true)
 |-- event: string (nullable = true)
 |-- site: string (nullable = true)
 |-- date_played: string (nullable = true)
 |-- round: double (nullable = true)
 |-- white: string (nullable = true)
 |-- black: string (nullable = true)
 |-- result: string (nullable = true)
 |-- white_elo: integer (nullable = true)
 |-- black_elo: integer (nullable = true)
 |-- white_title: string (nullable = true)
 |-- black_title: string (nullable = true)
 |-- winner: string (nullable = true)
 |-- winner_elo: integer (nullable = true)
 |-- loser: string (nullable = true)
 |-- loser_elo: integer (nullable = true)
 |-- winner_loser_elo_diff: integer (nullable = true)
 |-- eco: string (nullable = true)
 |-- date_created: string (nullable = true)
 |-- tournament_name: string (nullable = true)

In [ ]:
df2 = spark.read.csv("/content/chess_wc_history_moves.csv",
                     header=True,
                     inferSchema=True
                     )

In [ ]:
df2.printSchema()

root
 |-- game_id: string (nullable = true)
 |-- move_no: integer (nullable = true)
 |-- move_no_pair: integer (nullable = true)
 |-- player: string (nullable = true)
 |-- notation: string (nullable = true)
 |-- move: string (nullable = true)
 |-- from_square: string (nullable = true)
 |-- to_square: string (nullable = true)
 |-- piece: string (nullable = true)
 |-- color: string (nullable = true)
 |-- fen: string (nullable = true)
 |-- is_check: integer (nullable = true)
 |-- is_check_mate: integer (nullable = true)
 |-- is_fifty_moves: integer (nullable = true)
 |-- is_fivefold_repetition: integer (nullable = true)
 |-- is_game_over: integer (nullable = true)
 |-- is_insufficient_material: integer (nullable = true)
 |-- white_count: integer (nullable = true)
 |-- black_count: integer (nullable = true)
 |-- white_pawn_count: integer (nullable = true)
 |-- black_pawn_count: integer (nullable = true)
 |-- white_queen_count: integer (nullable = true)
 |-- black_queen_count: integer (nullable = true)
 |-- white_bishop_count: integer (nullable = true)
 |-- black_bishop_count: integer (nullable = true)
 |-- white_knight_count: integer (nullable = true)
 |-- black_knight_count: integer (nullable = true)
 |-- white_rook_count: integer (nullable = true)
 |-- black_rook_count: integer (nullable = true)
 |-- captured_score_for_white: integer (nullable = true)
 |-- captured_score_for_black: integer (nullable = true)
 |-- fen_row1_white_count: integer (nullable = true)
 |-- fen_row2_white_count: integer (nullable = true)
 |-- fen_row3_white_count: integer (nullable = true)
 |-- fen_row4_white_count: integer (nullable = true)
 |-- fen_row5_white_count: integer (nullable = true)
 |-- fen_row6_white_count: integer (nullable = true)
 |-- fen_row7_white_count: integer (nullable = true)
 |-- fen_row8_white_count: integer (nullable = true)
 |-- fen_row1_white_value: integer (nullable = true)
 |-- fen_row2_white_value: integer (nullable = true)
 |-- fen_row3_white_value: integer (nullable = true)
 |-- fen_row4_white_value: integer (nullable = true)
 |-- fen_row5_white_value: integer (nullable = true)
 |-- fen_row6_white_value: integer (nullable = true)
 |-- fen_row7_white_value: integer (nullable = true)
 |-- fen_row8_white_value: integer (nullable = true)
 |-- fen_row1_black_count: integer (nullable = true)
 |-- fen_row2_black_count: integer (nullable = true)
 |-- fen_row3_black_count: integer (nullable = true)
 |-- fen_row4_black_count: integer (nullable = true)
 |-- fen_row5_black_count: integer (nullable = true)
 |-- fen_row6_black_count: integer (nullable = true)
 |-- fen_row7_black_count: integer (nullable = true)
 |-- fen_row8_black_count: integer (nullable = true)
 |-- fen_row1_black_value: integer (nullable = true)
 |-- fen_row2_black_value: integer (nullable = true)
 |-- fen_row3_black_value: integer (nullable = true)
 |-- fen_row4_black_value: integer (nullable = true)
 |-- fen_row5_black_value: integer (nullable = true)
 |-- fen_row6_black_value: integer (nullable = true)
 |-- fen_row7_black_value: integer (nullable = true)
 |-- fen_row8_black_value: integer (nullable = true)
 |-- move_sequence: string (nullable = true)

In [ ]:
df3 = spark.read.csv("/content/eco_codes.csv",
                     header=True,
                     inferSchema=True
                     )
df3.printSchema()

root
 |-- eco: string (nullable = true)
 |-- eco_name: string (nullable = true)
 |-- eco_example: string (nullable = true)
 |-- eco_type: string (nullable = true)
 |-- eco_group: string (nullable = true)

In [ ]:
df1.createOrReplaceTempView("chess_wc_history_game_info")
df2.createOrReplaceTempView("chess_wc_history_moves")
df3.createOrReplaceTempView("eco_codes")

In [ ]:
df_dict = {}

# Section 2 - Queries

### 1. List of Winners of Each World champions Trophy
Hint: Total Result of all rounds of Tournament for that player is considered as that player's Score/Result.
Result attributes: winner, tournament_name

In [ ]:
df_tournament_winner_group = spark.sql("select tournament_name, winner, count(*) as count \
      from chess_wc_history_game_info where winner <> 'draw' \
      group by tournament_name, winner"
      )
df_tournament_winner_group.show()

+---------------+--------------------+-----+
|tournament_name|              winner|count|
+---------------+--------------------+-----+
|  FideChamp2004|             Kritz,L|    2|
| WorldChamp1886|Zukertort, Johann...|    5|
|  FideChamp2002|            Nataf,IA|    1|
| WorldChamp2006|           Topalov,V|    4|
|  FideChamp2000|             Gulko,B|    3|
|  FideChamp1999|  Ponomariov, Ruslan|    2|
|  FideChamp1999|       Lautier, Joel|    3|
|  FideChamp1999|       Dreev, Alexey|    4|
|  FideChamp2005|        Morozevich,A|    3|
|  FideChamp2002|      Vallejo Pons,F|    2|
|  FideChamp2004|          Malakhov,V|    1|
|  FideChamp2002|        Radziewicz,I|    1|
|  FideChamp2000|            Bacrot,E|    2|
|  FideChamp2002|       Baginskaite,C|    2|
|  FideChamp2004|           Vasquez,R|    1|
|  FideChamp1999|     Georgiev, Kiril|    3|
| WorldChamp1935|           Euwe, Max|    9|
|  FideChamp2004|             Dreev,A|    6|
|  FideChamp2004|        Mamedyarov,S|    3|
|  FideChamp2002|        Prudnikova,S|    2|
+---------------+--------------------+-----+
only showing top 20 rows

In [ ]:
df_tournament_winner_group.createOrReplaceTempView("tournament_winner_group")

In [ ]:
df_tournament_max_group = spark.sql("select tournament_name as max_tournament_name, \
    max(count) as countmax from tournament_winner_group group by tournament_name \
    order by tournament_name desc"
    )
df_tournament_max_group.show()

+-------------------+--------+
|max_tournament_name|countmax|
+-------------------+--------+
|     WorldChamp2021|       4|
|     WorldChamp2016|       3|
|     WorldChamp2014|       3|
|     WorldChamp2013|       3|
|     WorldChamp2012|       1|
|     WorldChamp2010|       3|
|     WorldChamp2008|       3|
|     WorldChamp2007|       4|
|     WorldChamp2006|       5|
|     WorldChamp2004|       2|
|     WorldChamp2000|       2|
|     WorldChamp1990|       4|
|     WorldChamp1987|       4|
|     WorldChamp1986|       5|
|     WorldChamp1985|       5|
|     WorldChamp1984|       5|
|     WorldChamp1981|       6|
|     WorldChamp1978|       6|
|     WorldChamp1972|       7|
|     WorldChamp1969|       6|
+-------------------+--------+
only showing top 20 rows

In [ ]:
df_query1_temp = df_tournament_winner_group.join(df_tournament_max_group,
        on = [
          df_tournament_winner_group.tournament_name == df_tournament_max_group.max_tournament_name,
          df_tournament_winner_group["count"] == df_tournament_max_group["countmax"]
        ],
        how = 'inner',
      )

In [ ]:
df_query1 = df_query1_temp.select('winner','tournament_name') \
      .orderBy('tournament_name', ascending=False)
df_query1.show(truncate=False)

+------------------+---------------+
|winner            |tournament_name|
+------------------+---------------+
|Carlsen,M         |WorldChamp2021 |
|Carlsen, Magnus   |WorldChamp2016 |
|Carlsen, Magnus   |WorldChamp2014 |
|Carlsen, Magnus   |WorldChamp2013 |
|Anand,V           |WorldChamp2012 |
|Anand, Viswanathan|WorldChamp2012 |
|Gelfand,B         |WorldChamp2012 |
|Anand,V           |WorldChamp2010 |
|Anand,V           |WorldChamp2008 |
|Anand,V           |WorldChamp2007 |
|Kramnik,V         |WorldChamp2006 |
|Kramnik,V         |WorldChamp2004 |
|Leko,P            |WorldChamp2004 |
|Kramnik,V         |WorldChamp2000 |
|Kasparov, Gary    |WorldChamp1990 |
|Kasparov, Gary    |WorldChamp1987 |
|Karpov, Anatoly   |WorldChamp1987 |
|Kasparov, Gary    |WorldChamp1986 |
|Kasparov, Gary    |WorldChamp1985 |
|Karpov, Anatoly   |WorldChamp1984 |
+------------------+---------------+
only showing top 20 rows

In [ ]:
df_dict['df1.csv'] = df_query1

### 2. List of Players with number of times they have won Tournament in descending order(Max to min).
Result attributes: player_name, number_of_wins

In [ ]:
df_query1.createOrReplaceTempView('query1')

In [ ]:
df_query2 = spark.sql("select winner as player_name, count(*) as number_of_wins \
    from query1 group by winner order by number_of_wins desc"
    )
df_query2.show()

+--------------------+--------------+
|         player_name|number_of_wins|
+--------------------+--------------+
|     Lasker, Emanuel|             7|
|     Karpov, Anatoly|             6|
|      Kasparov, Gary|             6|
|  Botvinnik, Mikhail|             5|
|             Anand,V|             5|
| Alekhine, Alexander|             4|
|   Steinitz, William|             4|
|           Kramnik,V|             3|
|     Carlsen, Magnus|             3|
| Petrosian, Tigran V|             2|
|    Smyslov, Vassily|             2|
|  Anand, Viswanathan|             2|
|            Shirov,A|             1|
|Fischer, Robert J...|             1|
|        Ponomariov,R|             1|
|  Bronstein, David I|             1|
|Capablanca, Jose ...|             1|
|              Leko,P|             1|
|Khalifman, Alexander|             1|
|    Spassky, Boris V|             1|
+--------------------+--------------+
only showing top 20 rows

In [ ]:
df_dict['df2.csv'] = df_query2

### 3. Most and Least Popular eco move in world championship history.
Result attributes: eco, eco_name, number_of_occurences

Final result will have only two rows

In [ ]:
df_eco_group = spark.sql("select eco as eco_, count(*) as number_of_occurences \
  from chess_wc_history_game_info group by eco"
  )
df_eco_group.show()

+----+--------------------+
|eco_|number_of_occurences|
+----+--------------------+
| B05|                   3|
| A23|                   2|
| E02|                   5|
| A47|                   3|
| D66|                   2|
| B34|                   2|
| E44|                   1|
| D81|                   2|
| B01|                   9|
| A65|                   3|
| D28|                   6|
| E56|                   1|
| C78|                  20|
| B92|                  13|
| A46|                  10|
| C24|                   6|
| C95|                   9|
| C77|                   8|
| D16|                   4|
| D98|                   6|
+----+--------------------+
only showing top 20 rows

In [ ]:
df_eco_group_join = df_eco_group.join(df3,
                on = [
                    df_eco_group.eco_ == df3.eco
                ],
                how = 'inner',
                )
df_eco_total = df_eco_group_join.select('eco','eco_name','number_of_occurences')
df_eco_total.show()

+---+--------------------+--------------------+
|eco|            eco_name|number_of_occurences|
+---+--------------------+--------------------+
|B05|Alekhine's Defens...|                   3|
|A23|English, Bremen S...|                   2|
|E02|Catalan, Open, 5.Qa4|                   5|
|A47|      Queen's Indian|                   3|
|D66|Queen's Gambit De...|                   2|
|B34|Sicilian, Acceler...|                   2|
|E44|Nimzo-Indian, Fis...|                   1|
|D81|Grunfeld, Russian...|                   2|
|B01|        Scandinavian|                   9|
|A65|        Benoni, 6.e4|                   3|
|D28|Queen's Gambit Ac...|                   6|
|E56|Nimzo-Indian, 4.e...|                   1|
|C78|           Ruy Lopez|                  20|
|B92|Sicilian, Najdorf...|                  13|
|A46|   Queen's Pawn Game|                  10|
|C24|    Bishop's Opening|                   6|
|C95|Ruy Lopez, Closed...|                   9|
|C77|           Ruy Lopez|                   8|
|D16|Queen's Gambit De...|                   4|
|D98|   Grunfeld, Russian|                   6|
+---+--------------------+--------------------+
only showing top 20 rows

In [ ]:
df_eco_total.createOrReplaceTempView('eco_moves_group')

In [ ]:
df_query3_max = spark.sql("select * from eco_moves_group where number_of_occurences = \
    (select max(number_of_occurences) from eco_moves_group)" \
    )
df_query3_max.show()

+---+--------------+--------------------+
|eco|      eco_name|number_of_occurences|
+---+--------------+--------------------+
|C42|Petrov Defense|                  64|
+---+--------------+--------------------+

In [ ]:
df_query3_min = spark.sql("select * from eco_moves_group where number_of_occurences = \
    (select min(number_of_occurences) from eco_moves_group) order by eco limit 1"
    )
df_query3_min.show()

+---+--------------------+--------------------+
|eco|            eco_name|number_of_occurences|
+---+--------------------+--------------------+
|A01|Nimzovich-Larsen ...|                   1|
+---+--------------------+--------------------+

In [ ]:
import pandas as pd
df_query3_max_pd = df_query3_max.toPandas()
df_query3_min_pd = df_query3_min.toPandas()
df_query3_pd = pd.concat([df_query3_max_pd,df_query3_min_pd],axis=0)
df_query3 = spark.createDataFrame(df_query3_pd)
df_query3.show()

+---+--------------------+--------------------+
|eco|            eco_name|number_of_occurences|
+---+--------------------+--------------------+
|C42|      Petrov Defense|                  64|
|A01|Nimzovich-Larsen ...|                   1|
+---+--------------------+--------------------+

In [ ]:
df_dict['df3.csv'] = df_query3

### 4. Find the eco move with most winnings.
Ps. Use this opening move in your next chess gameðŸ™‚

Result attributes: eco, eco_name

In [ ]:
df_query4_eco = spark.sql("select eco as eco_, count(*) as number_of_occurences \
    from chess_wc_history_game_info where winner <> 'draw' group by eco \
    order by number_of_occurences desc limit 1"
    )
df_query4_eco.show()

+----+--------------------+
|eco_|number_of_occurences|
+----+--------------------+
| B90|                  25|
+----+--------------------+

In [ ]:
df_query4_eco_join = df_query4_eco.join(df3,
                on = [
                    df_query4_eco.eco_ == df3.eco
                ],
                how = 'inner',
                )
df_query4 = df_query4_eco_join.select('eco','eco_name')
df_query4.show()

+---+-----------------+
|eco|         eco_name|
+---+-----------------+
|B90|Sicilian, Najdorf|
+---+-----------------+

In [ ]:
df_dict['df4.csv'] = df_query4

### 5. Longest and shortest game ever played in a world championship in terms of move.
Chess Funda: "move" is completed once both White and Black have played one turn. e.g If a game lasts 10 moves, both White and Black have played 10 moves)

Result attributes: game_id, event, tournament_name, number_of_moves

Final result will have only two rows

In [ ]:
df_query5_moves_group = spark.sql("select game_id as game_id_, \
    cast(count(*)/2 as int) as number_of_moves \
    from chess_wc_history_moves group by game_id "
    )
df_query5_moves_group.show()

+--------------------+---------------+
|            game_id_|number_of_moves|
+--------------------+---------------+
|12885b8e-be24-49b...|             35|
|cd753124-e7cf-47c...|             37|
|10046d1a-66d7-405...|             20|
|afac6a9e-50e3-401...|             42|
|59283c31-ac90-4ab...|             37|
|bfa62a46-4916-445...|             34|
|64d763f7-2023-465...|             48|
|e2ad0b8f-67de-45a...|             21|
|206b6b24-a83a-488...|             23|
|b0874331-dec8-4b6...|             22|
|cd5ca48a-c1eb-495...|             22|
|b047408d-d841-4c4...|             82|
|09a19770-8f86-452...|             48|
|ade9fd84-b946-4aa...|             32|
|31866388-3f18-419...|             21|
|5604de53-78b8-491...|             45|
|41ae3e1c-9c3c-408...|             19|
|8bc3b89a-6603-415...|             41|
|20d34bba-9fcd-439...|             29|
|e413c2a7-dcba-45e...|             53|
+--------------------+---------------+
only showing top 20 rows

In [ ]:
df_query5_moves_group.createOrReplaceTempView('moves_group')

In [ ]:
df_query5_max = spark.sql("select * from moves_group where number_of_moves = \
    (select max(number_of_moves) from moves_group)"
    )
df_query5_max.show()

+--------------------+---------------+
|            game_id_|number_of_moves|
+--------------------+---------------+
|4424a0a4-3732-407...|            145|
+--------------------+---------------+

In [ ]:
df_query5_min = spark.sql("select * from moves_group where number_of_moves = \
    (select min(number_of_moves) from moves_group)"
    )
df_query5_min.show()

+--------------------+---------------+
|            game_id_|number_of_moves|
+--------------------+---------------+
|1846cede-0037-4f0...|              0|
+--------------------+---------------+

In [ ]:
import pandas as pd
df_query5_max_pd = df_query5_max.toPandas()
df_query5_min_pd = df_query5_min.toPandas()
df_query5_pd = pd.concat([df_query5_max_pd,df_query5_min_pd],axis=0)
df_query5_moves = spark.createDataFrame(df_query5_pd)
df_query5_moves.show()

+--------------------+---------------+
|            game_id_|number_of_moves|
+--------------------+---------------+
|4424a0a4-3732-407...|            145|
|1846cede-0037-4f0...|              0|
+--------------------+---------------+

In [ ]:
df_query5_moves_join = df_query5_moves.join(df1,
                on = [
                    df_query5_moves.game_id_ == df1.game_id
                ],
                how = 'inner',
                )

df_query5 = df_query5_moves_join.select('game_id','event','tournament_name','number_of_moves')
df_query5.show()

+--------------------+--------------------+---------------+---------------+
|             game_id|               event|tournament_name|number_of_moves|
+--------------------+--------------------+---------------+---------------+
|4424a0a4-3732-407...|         FIDE WCh KO|  FideChamp2000|            145|
|1846cede-0037-4f0...|World Championshi...| WorldChamp1972|              0|
+--------------------+--------------------+---------------+---------------+

In [ ]:
df_dict['df5.csv'] = df_query5

### 6. Shortest and Longest Draw game ever Played.
Result attributes: game_id, event, tournament_name, number_of_moves

Final result will have only two rows

In [ ]:
df1_draw = spark.sql("select * from chess_wc_history_game_info where winner = 'draw'")

In [ ]:
df_query6_moves_join = df_query5_moves_group.join(df1_draw,
                on = [
                    df_query5_moves_group.game_id_ == df1_draw.game_id
                ],
                how = 'inner',
                )

df_query6_join = df_query6_moves_join.select('game_id','event','tournament_name','number_of_moves')
df_query6_join.show()

+--------------------+--------------------+---------------+---------------+
|             game_id|               event|tournament_name|number_of_moves|
+--------------------+--------------------+---------------+---------------+
|12885b8e-be24-49b...|         FIDE WCh KO|  FideChamp2004|             35|
|10046d1a-66d7-405...|         FIDE WCh KO|  FideChamp2002|             20|
|59283c31-ac90-4ab...|         FIDE WCh KO|  FideChamp2002|             37|
|bfa62a46-4916-445...|         FIDE WCh KO|  FideChamp2000|             34|
|e2ad0b8f-67de-45a...|         FIDE WCh KO|  FideChamp2000|             21|
|206b6b24-a83a-488...|       FIDE-Wch k.o.|  FideChamp1999|             23|
|b0874331-dec8-4b6...|FIDE-Wch k.o. g/2...|  FideChamp1999|             22|
|cd5ca48a-c1eb-495...|       FIDE-Wch k.o.|  FideChamp1999|             22|
|b047408d-d841-4c4...|       FIDE-Wch k.o.|  FideChamp1998|             82|
|09a19770-8f86-452...|World Championshi...| WorldChamp1972|             48|
|ade9fd84-b946-4aa...|World Championshi...| WorldChamp1966|             32|
|20d34bba-9fcd-439...|         FIDE WCh KO|  FideChamp2000|             29|
|e413c2a7-dcba-45e...|         FIDE WCh KO|  FideChamp2000|             53|
|26459e5f-e1c6-4b6...|       FIDE-Wch k.o.|  FideChamp1999|             45|
|50aafd83-9652-4d0...|FIDE-Wch k.o. g/2...|  FideChamp1999|             27|
|828d39b9-df56-4f5...|       FIDE-Wch k.o.|  FideChamp1998|             38|
|af08903d-7258-4ec...|World Championshi...| WorldChamp1963|             55|
|3fb15ecc-152b-4f3...|World Championshi...| WorldChamp1958|             22|
|59f5988b-7d97-4a8...|            WCh-FIDE|  FideChamp2005|             38|
|3e5f4e41-d54e-41c...|         FIDE WCh KO|  FideChamp2004|             12|
+--------------------+--------------------+---------------+---------------+
only showing top 20 rows

In [ ]:
df_query6_join.createOrReplaceTempView('draw_moves')

In [ ]:
df_query6_max = spark.sql("select * from draw_moves order by number_of_moves desc limit 1")
df_query6_max.show()

+--------------------+-----------+---------------+---------------+
|             game_id|      event|tournament_name|number_of_moves|
+--------------------+-----------+---------------+---------------+
|88f34084-e4df-490...|FIDE WCh KO|  FideChamp2002|            129|
+--------------------+-----------+---------------+---------------+

In [ ]:
df_query6_min = spark.sql("select * from draw_moves order by number_of_moves asc limit 1")
df_query6_min.show()

+--------------------+-----------+---------------+---------------+
|             game_id|      event|tournament_name|number_of_moves|
+--------------------+-----------+---------------+---------------+
|90baaafa-b306-450...|FIDE WCh KO|  FideChamp2000|              6|
+--------------------+-----------+---------------+---------------+

In [ ]:
import pandas as pd
df_query6_max_pd = df_query6_max.toPandas()
df_query6_min_pd = df_query6_min.toPandas()
df_query6_pd = pd.concat([df_query6_max_pd,df_query6_min_pd],axis=0)
df_query6 = spark.createDataFrame(df_query6_pd)
df_query6.show()

+--------------------+-----------+---------------+---------------+
|             game_id|      event|tournament_name|number_of_moves|
+--------------------+-----------+---------------+---------------+
|88f34084-e4df-490...|FIDE WCh KO|  FideChamp2002|            129|
|90baaafa-b306-450...|FIDE WCh KO|  FideChamp2000|              6|
+--------------------+-----------+---------------+---------------+

In [ ]:
df_dict['df6.csv'] = df_query6

### 7. Most and Least rated Player.
Result attributes: player_name, elo

Chess Funda: elo is the rating of the player in chess tournament.

Final result will have only two rows

In [ ]:
df_query7_white = spark.sql('select white as player_name, white_elo as elo from chess_wc_history_game_info')
df_query7_black = spark.sql('select black as player_name, black_elo as elo from chess_wc_history_game_info')

In [ ]:
import pandas as pd
df_query7_white_pd = df_query7_white.toPandas()
df_query7_black_pd = df_query7_black.toPandas()
df_query7_pd = pd.concat([df_query7_white_pd, df_query7_black_pd], axis=0)
df_query7_players = spark.createDataFrame(df_query7_pd)
df_query7_players.show()

+----------------+------+
|     player_name|   elo|
+----------------+------+
|Nepomniachtchi,I|2782.0|
|       Carlsen,M|2855.0|
|Nepomniachtchi,I|2782.0|
|       Carlsen,M|2855.0|
|Nepomniachtchi,I|2782.0|
|       Carlsen,M|2855.0|
|Nepomniachtchi,I|2782.0|
|       Carlsen,M|2855.0|
|Nepomniachtchi,I|2782.0|
|       Carlsen,M|2855.0|
|Nepomniachtchi,I|2782.0|
|Caruana, Fabiano|2832.0|
| Carlsen, Magnus|2835.0|
|Caruana, Fabiano|2832.0|
| Carlsen, Magnus|2835.0|
|Caruana, Fabiano|2832.0|
| Carlsen, Magnus|2835.0|
| Carlsen, Magnus|2835.0|
|Caruana, Fabiano|2832.0|
| Carlsen, Magnus|2835.0|
+----------------+------+
only showing top 20 rows

In [ ]:
df_query7_players.createOrReplaceTempView('query7_players')

In [ ]:
df_query7_group = spark.sql('select * from query7_players where elo <> "NaN" \
    group by player_name, elo order by elo desc'
    )
df_query7_group.show()

+------------------+------+
|       player_name|   elo|
+------------------+------+
|   Carlsen, Magnus|2870.0|
|   Carlsen, Magnus|2863.0|
|         Carlsen,M|2855.0|
|   Carlsen, Magnus|2853.0|
|        Kasparov,G|2849.0|
|   Carlsen, Magnus|2835.0|
|  Caruana, Fabiano|2832.0|
|         Topalov,V|2813.0|
|         Topalov,V|2805.0|
|    Kasparov, Gary|2805.0|
|    Kasparov, Gary|2800.0|
|Anand, Viswanathan|2799.0|
|    Kasparov, Gary|2795.0|
|Anand, Viswanathan|2792.0|
|           Anand,V|2792.0|
|           Anand,V|2791.0|
|Anand, Viswanathan|2791.0|
|           Anand,V|2788.0|
|         Topalov,V|2788.0|
|           Anand,V|2787.0|
+------------------+------+
only showing top 20 rows

In [ ]:
df_query7_group.createOrReplaceTempView('query7_group')

In [ ]:
df_query7_group_elo = spark.sql('select player_name, cast(sum(elo) as int) as elo \
    from query7_group group by player_name'
    )
df_query7_group_elo.show()

+------------------+-----+
|       player_name|  elo|
+------------------+-----+
| Hamdouchi, Hichem| 5055|
|    Svidler, Peter| 5344|
|   Alterman, Boris| 2615|
|   Fridman, Daniel| 2526|
|  Nepomniachtchi,I| 2782|
|        Ivanchuk,V|10883|
|    Andersson, Ulf| 5263|
|   Jussupow, Artur| 2640|
|    Van Wely, Loek| 2655|
|          Piket,Je| 2649|
|      Peng Xiaomin| 7761|
|       Onischuk,Al| 2627|
| Ivanchuk, Vassily| 5427|
|Sakaev, Konstantin| 2648|
|      Vladimirov,E| 5219|
|          Luther,T| 2604|
|    Kacheishvili,G| 2600|
|         Carlsen,M| 5407|
|         Ivanov,AV| 5153|
|Istratescu, Andrei| 2550|
+------------------+-----+
only showing top 20 rows

In [ ]:
df_query7_group_elo.createOrReplaceTempView('group_elo')
df_query7_max = spark.sql('select * from group_elo order by elo desc limit 1')
df_query7_min = spark.sql('select * from group_elo order by elo asc limit 1')

In [ ]:
import pandas as pd
df_query7_max_pd = df_query7_max.toPandas()
df_query7_min_pd = df_query7_min.toPandas()
df_query7_pd = pd.concat([df_query7_max_pd, df_query7_min_pd], axis=0)
df_query7 = spark.createDataFrame(df_query7_pd)
df_query7.show()

+---------------+-----+
|    player_name|  elo|
+---------------+-----+
|Karpov, Anatoly|24590|
|      Abulhul,T| 2076|
+---------------+-----+

In [ ]:
df_dict['df7.csv'] = df_query7

### 8. 3rd Last Player with most Loss.
Result attributes: player_name

Final result will have only one row

In [ ]:
df_query8_list = spark.sql("select loser as player_name, count(*) as lost_count \
    from chess_wc_history_game_info where loser <> 'draw' group by loser \
    order by lost_count desc limit 3"
    )
df_query8_list.show()

+------------------+----------+
|       player_name|lost_count|
+------------------+----------+
| Steinitz, William|        43|
|Botvinnik, Mikhail|        41|
|   Karpov, Anatoly|        36|
+------------------+----------+

In [ ]:
df_query8_list.createOrReplaceTempView("loser_list")

In [ ]:
df_query8 = spark.sql("select player_name from loser_list order by lost_count asc limit 1")
df_query8.show()

+---------------+
|    player_name|
+---------------+
|Karpov, Anatoly|
+---------------+

In [ ]:
df_dict['df8.csv'] = df_query8

### 9. How many times players with low rating won matches with their total win Count.

Result attributes: player_name, win_count

In [ ]:
df_query9_low_rating = spark.sql('select * from group_elo order by elo asc limit 30')
df_query9_low_rating.show()

+-----------------+----+
|      player_name| elo|
+-----------------+----+
|        Abulhul,T|2076|
|         Elarbi,A|2257|
|      Utnasunov,A|2257|
|         Mohota,N|2262|
|       Ciuksyte,D|2271|
|        Asabri,Hu|2277|
|      Gu Xiaobing|2299|
|Feldman, Vladimir|2332|
|    Baginskaite,C|2336|
|           Pina,S|2345|
| Gaprindashvili,N|2349|
| Kozak, Alexander|2350|
|        Solomon,K|2352|
|       Shovunov,B|2353|
|        Sarthou,G|2361|
|        Touzane,O|2368|
|    Bouaziz, Slim|2372|
|           Arab,A|2374|
|          Wang Yu|2378|
|          Kadhi,H|2379|
+-----------------+----+
only showing top 20 rows

In [ ]:
df_query9_player_wins = spark.sql("select winner, count(*) as win_count \
    from chess_wc_history_game_info where winner <> 'draw' group by winner"
    )
df_query9_player_wins.show()

+------------------+---------+
|            winner|win_count|
+------------------+---------+
|   Fridman, Daniel|        2|
|    Svidler, Peter|        4|
|   Alterman, Boris|        1|
|        Ivanchuk,V|       12|
|    Andersson, Ulf|        5|
|   Jussupow, Artur|        1|
|          Piket,Je|        3|
|    Van Wely, Loek|        4|
|       Onischuk,Al|        1|
|      Peng Xiaomin|        5|
|    Kacheishvili,G|        1|
|      Vladimirov,E|        4|
|          Luther,T|        3|
| Ivanchuk, Vassily|        4|
| Steinitz, William|       43|
|         Carlsen,M|        4|
|         Ivanov,AV|        1|
|Istratescu, Andrei|        2|
|        Tiviakov,S|        5|
|   Karpov, Anatoly|       47|
+------------------+---------+
only showing top 20 rows

In [ ]:
df_query9_low_rating.createOrReplaceTempView('query9_low_rating')
df_query9_player_wins.createOrReplaceTempView('query9_player_wins')

In [ ]:
df_query9 = spark.sql('select player_name, win_count from query9_low_rating, query9_player_wins \
    where player_name == winner order by win_count'
    )
df_query9.show()

+-------------+---------+
|  player_name|win_count|
+-------------+---------+
|       Pina,S|        1|
|Zielinska,Mar|        1|
|   Ciuksyte,D|        1|
| Radziewicz,I|        1|
|    Touzane,O|        1|
|     Kobese,W|        1|
|   Kiseleva,N|        2|
|Baginskaite,C|        2|
|     Paehtz,E|        2|
|  Xu Yuanyuan|        3|
+-------------+---------+

In [ ]:
df_dict['df9.csv'] = df_query9

### 10. Move Sequence for Each Player in a Match.

Result attributes: game_id, player_name, move_sequence, move_count

In [ ]:
df_query10 = spark.sql('select game_id, player, move_sequence, max(move_no) as move_count \
    from chess_wc_history_moves group by game_id'
    )
df_query10.show()

AnalysisException: ignored

### 11. Total Number of games where losing player has more Captured score than Winning player.

Hint: Captured score is cumulative, i.e., for 3rd capture it will have score for 1, 2, and 3rd.

Result attributes: total_number_of_games Final result will have only one row

### 12. List All Perfect Tournament with Winner Name.

Chess Funda: Perfect Tournament means a player has won all the matches excluding draw matches. e.g Player A has won 5 matches out of 7
Matches in tournament where 2 matches are draw and player B has won 0 matches)

Result attributes: winner_name, tournament_name

### 13. Player with highest winning ratio.
Hint: Winning ratio: (Number of rounds won)/(Number of rounds played)

Result attributes: player_name

Final result will have only one row

In [ ]:
df_query13_white = spark.sql('select white as player_name from chess_wc_history_game_info')
df_query13_black = spark.sql('select black as player_name from chess_wc_history_game_info')

In [ ]:
import pandas as pd
df_query13_white_pd = df_query13_white.toPandas()
df_query13_black_pd = df_query13_black.toPandas()
df_query13_pd = pd.concat([df_query13_white_pd, df_query13_black_pd], axis=0)
df_query13_players = spark.createDataFrame(df_query13_pd)
df_query13_players.show()

+----------------+
|     player_name|
+----------------+
|Nepomniachtchi,I|
|       Carlsen,M|
|Nepomniachtchi,I|
|       Carlsen,M|
|Nepomniachtchi,I|
|       Carlsen,M|
|Nepomniachtchi,I|
|       Carlsen,M|
|Nepomniachtchi,I|
|       Carlsen,M|
|Nepomniachtchi,I|
|Caruana, Fabiano|
| Carlsen, Magnus|
|Caruana, Fabiano|
| Carlsen, Magnus|
|Caruana, Fabiano|
| Carlsen, Magnus|
| Carlsen, Magnus|
|Caruana, Fabiano|
| Carlsen, Magnus|
+----------------+
only showing top 20 rows

In [ ]:
df_query13_players.createOrReplaceTempView('players_played')

In [ ]:
df_query13_rounds_played = spark.sql("select player_name, count(*) as rounds_played \
    from players_played group by player_name"
    )
df_query13_rounds_played.show()

+------------------+-------------+
|       player_name|rounds_played|
+------------------+-------------+
| Hamdouchi, Hichem|            4|
|   Fridman, Daniel|            4|
|    Svidler, Peter|           14|
|   Alterman, Boris|            6|
|  Nepomniachtchi,I|           11|
|        Ivanchuk,V|           41|
|    Andersson, Ulf|           22|
|   Jussupow, Artur|            4|
|          Piket,Je|            8|
|    Van Wely, Loek|           14|
|       Onischuk,Al|            6|
|      Peng Xiaomin|           16|
|      Vladimirov,E|           15|
|    Kacheishvili,G|            4|
|          Luther,T|            6|
| Ivanchuk, Vassily|           10|
|Sakaev, Konstantin|            4|
| Steinitz, William|          115|
|         Carlsen,M|           15|
|         Ivanov,AV|            6|
+------------------+-------------+
only showing top 20 rows

In [ ]:
df_query13_rounds_won = spark.sql("select winner, count(*) as rounds_won \
    from chess_wc_history_game_info where winner <> 'draw' group by winner")
df_query13_rounds_won.show()

+------------------+----------+
|            winner|rounds_won|
+------------------+----------+
|   Fridman, Daniel|         2|
|    Svidler, Peter|         4|
|   Alterman, Boris|         1|
|        Ivanchuk,V|        12|
|    Andersson, Ulf|         5|
|   Jussupow, Artur|         1|
|          Piket,Je|         3|
|    Van Wely, Loek|         4|
|       Onischuk,Al|         1|
|      Peng Xiaomin|         5|
|    Kacheishvili,G|         1|
|      Vladimirov,E|         4|
|          Luther,T|         3|
| Ivanchuk, Vassily|         4|
| Steinitz, William|        43|
|         Carlsen,M|         4|
|         Ivanov,AV|         1|
|Istratescu, Andrei|         2|
|        Tiviakov,S|         5|
|   Karpov, Anatoly|        47|
+------------------+----------+
only showing top 20 rows

In [ ]:
df_query13_rounds_played.createOrReplaceTempView('rounds_played')
df_query13_rounds_won.createOrReplaceTempView('rounds_won')

In [ ]:
df_query13_join = spark.sql("select A.player_name, B.rounds_won/A.rounds_played as ratio \
    from rounds_played A, rounds_won B where A.player_name == B.winner"
    )
df_query13_join.show()

+------------------+-------------------+
|       player_name|              ratio|
+------------------+-------------------+
|   Fridman, Daniel|                0.5|
|    Svidler, Peter| 0.2857142857142857|
|   Alterman, Boris|0.16666666666666666|
|        Ivanchuk,V| 0.2926829268292683|
|    Andersson, Ulf|0.22727272727272727|
|   Jussupow, Artur|               0.25|
|          Piket,Je|              0.375|
|    Van Wely, Loek| 0.2857142857142857|
|       Onischuk,Al|0.16666666666666666|
|      Peng Xiaomin|             0.3125|
|      Vladimirov,E|0.26666666666666666|
|    Kacheishvili,G|               0.25|
|          Luther,T|                0.5|
| Ivanchuk, Vassily|                0.4|
| Steinitz, William| 0.3739130434782609|
|         Carlsen,M|0.26666666666666666|
|         Ivanov,AV|0.16666666666666666|
|Istratescu, Andrei| 0.2857142857142857|
|        Tiviakov,S|0.29411764705882354|
|   Karpov, Anatoly| 0.1950207468879668|
+------------------+-------------------+
only showing top 20 rows

In [ ]:
df_query13_join.createOrReplaceTempView('query_13_join')

In [ ]:
df_query13 = spark.sql("select player_name from query_13_join order by ratio desc limit 1")
df_query13.show()

+-----------+
|player_name|
+-----------+
|   Karlov,A|
+-----------+

In [ ]:
df_dict['df13.csv'] = df_query13

### 14. Player who had given checkmate with Pawn.
Note: Consider all events for this query

Result attributes: player_name

Final result will have only one row

In [ ]:
df_query14 = spark.sql("select player from chess_wc_history_moves \
    where is_check_mate == 1 and piece == 'P'"
    )
df_query14.show()

+--------------+
|        player|
+--------------+
|Andersson, Ulf|
+--------------+

In [ ]:
df_dict['df14.csv'] = df_query14

### 15. List games where player has won game without queen.

Result attributes: game_id, event, player_name

In [ ]:
df_query15 = spark.sql("select M.game_id, H.event, M.player \
    from chess_wc_history_moves M left join chess_wc_history_game_info H \
    where M.is_game_over == 1 and (M.black_queen_count == 0 or M.white_queen_count == 0)"
    )
df_query15.show()

+--------------------+--------+---------------+
|             game_id|   event|         player|
+--------------------+--------+---------------+
|12f67983-3075-411...|WCh 2021|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2021|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2021|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2021|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2021|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2021|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2021|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2021|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2021|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2021|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2021|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2018|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2018|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2018|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2018|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2018|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2018|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2018|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2018|Carlsen, Magnus|
|12f67983-3075-411...|WCh 2018|Carlsen, Magnus|
+--------------------+--------+---------------+
only showing top 20 rows

In [ ]:
df_dict['df15.csv'] = df_query15

# Section 3

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive/', force_remount=True)

Mounted at /content/gdrive/

In [ ]:
import os
path = 'gdrive/MyDrive/DE_SOLUTION_Pragnya_Nagure/results/'
os.makedirs(path, exist_ok = True)

In [ ]:
import pandas as pd
def saveDataFrame(df_dict):
  for df_key, df_value in df_dict.items():
    pd_df = df_value.toPandas()
    dir = path + df_key
    pd_df.to_csv(dir)

In [ ]:
saveDataFrame(df_dict)